.chat-active {
  background-color: var(--clr-bg-component);
}

.chat-active__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gutter-md);
  width: 50%;
}
.chat-active__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gutter-md);
  margin-right: var(--gutter-md);
}

.chat-active__img {
  height: 100%;
  border-radius: 100%;
}

.chat-active__name {
  font-size: 1.1rem;
}
