<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap"
      rel="stylesheet"
    />
    <!-- FOGLI DI STILE -->
    <link rel="stylesheet" href="css/style2.css" />
    <!-- VUE-JS VERSION 2 -->

    <title>Refactoring</title>
  </head>
  <body>
    <div id="app" class="app">
      <div class="app__left">
        <div class="component component-user">
          <div class="component-user__info">
            <img
              src="img/avatar_io.jpg"
              alt="Avatar"
              class="component-user__img"
            />
            <div class="component-user__name">Sonia</div>
          </div>
          <div class="component-user__button">
            <button class="btn btn--user">
              <i class="fa-solid fa-circle-notch"></i>
            </button>
            <button class="btn btn--user">
              <i class="fa-solid fa-message"></i>
            </button>
            <button class="btn btn--user">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
          </div>
        </div>
        <div class="component component--big component-notification">
          <div class="component-notification__icon">
            <i class="fa-solid fa-bell-slash"></i>
          </div>
          <div class="notification__info">
            <div class="notification__info-text">
              Ricevi notifiche di nuovi messaggi
            </div>
            <a class="notification__info-link">Attiva notifiche descktop</a>
          </div>
        </div>
        <div class="component component--small component-search">
          <div class="component-search__icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <input
            class="component-search__input"
            type="text"
            placeholder="Inizia o cerca una conversazione"
            v-model="filter"
          />
        </div>
        <div class="component component--scroll component-contacts">
          <div
            class="contact"
            @click="selectChat(index)"
            v-for="(obj,index) in filterByName"
          >
            <div class="contact__sx">
              <img class="contact__img" :src="imgAvatar(index)" alt="foto" />
              <div class="contact__info">
                <div class="contact__name">{{obj.name}}</div>
                <div class="contact__last-msg">{{lastMessage(index)}}</div>
              </div>
            </div>
            <div class="contact__dx">
              <div class="contact__time">{{getTime(index)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="app__right">
        <div class="component chat-active">
          <div class="chat-active__info">
            <img
              :src="imgAvatar(currentChat)"
              alt="Avatar"
              class="chat-active__img"
            />
            <div class="chat__active">
              <div class="chat-active__name">
                {{contacts[currentChat].name}}
              </div>
              <div class="chat-active__access">
                Ultimo ingresso {{getTime(currentChat)}}
              </div>
            </div>
          </div>
          <div class="chat-active__button">
            <button class="btn btn--user btn-serch">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button class="btn btn--user btn-attached">
              <i class="fa-solid fa-paperclip"></i>
            </button>
            <button class="btn btn--user btn-settings">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
          </div>
        </div>
        <div class="component component--scroll chat-message">
          <div
            v-for="message in contacts[currentChat].messages"
            class="chat-message__bubble"
            :class="{'chat-message__bubble--received': message.status === 'received', 'chat-message__bubble--sent': message.status === 'sent' }"
          >
            <div class="chat-message__bubble-text">{{message.message}}</div>
            <div class="chat-message__bubble-time">12.00</div>
          </div>
        </div>
        <div class="component chat-input">
          <button class="btn btn--input btn--emoticon">
            <i class="fa-regular fa-face-grin"></i>
          </button>
          <input
            type="text"
            class="chat-input__text"
            @keyup.enter="addMessageText()"
            v-model="messageText"
            placeholder="Scrivi un messaggio"
          />
          <button class="btn btn--input btn--microphone">
            <i class="fa-solid fa-microphone"></i>
          </button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
