.component{
    height: var(--hgt-item);
    padding: var(--gutter-sm);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.component--big{
    height: var(--hgt-item-lg);
}

.component--small{
    height: var(--hgt-item-sm);
}
